body {
	font: 1.8rem "Montserrat", sans-serif;
	min-width: 320px;
	font-weight: normal;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	color: #212121;
	overflow-x: hidden;
}
main {
	display: block;
}
p {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.video {
	text-align: center;
	background-image: url("../img/video_bg.png");
	background-position: center bottom;
}
.video .video_wrapper {
	margin: 0 auto;
	max-width: 770px;
	position: relative;
}
.video video {
	-webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.video button#videoButton {
	width: 9.6rem;
	height: 9.6rem;
	background-size: 100% 100%;
	background-image: url("../img/video_btn.png");
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.mfp-counter {
	display: none;
}
.dot {
	position: relative;
	z-index: 300;
}
.slick-dots {
	bottom: -106px!important;
}
.next, .prev {
	position: absolute;
	width: 29px;
	height: 23px;
	z-index: 300;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.next {
	background-image: url("../img/next.png");
}
.next:hover {
	background-image: url("../img/next_hover.png");
}
.prev {
	background-image: url("../img/prev.png");
}
.prev:hover {
	background-image: url("../img/prev_hover.png");
}
.slider_wrapper {
	position: relative;
}
.slider_wrapper:after, .slider:after {
	content: "";
	display: table;
	clear: both;
}
.open_form:before {
	content: "";
	height: 1142px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -260px;
	background-position: center top;
	background-image: url('../img/open_form_bg_ua.png');
}
.ru_body .open_form:before {
	background-image: url('../img/open_form_bg.png');
}
.open_form .timer__item {
	display: inline-block;
	width: 70px;
	margin-right: 2.5rem;
	height: 70px;
	background-color: #575f72;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding-top: .5rem;
	text-align: center;
	color: #fff;
}
.open_form .timer__item:last-of-type {
	margin-right: 0;
	background-color: #c3957b;
}
.open_form .big-numb-time, .timer-text {
	color: #fff;
}
.open_form .big-numb-time {
	font-size: 3rem;
}
.open_form .timer-text {
	font-size: 1.4rem;
	position: relative;
	top: -5px;
}
.relative {
	position: relative;
}
button {
	border: none;
	background: none;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 15px;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
section {
	padding: 80px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
section h6 {
	font-weight: bold;
	font-size: 24px;
}
section h4 {
	font-size: 2.3rem;
	font-weight: normal;
	margin-top: 0;
}
section h3 {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin-top: 0;
	color: #575f72;
	margin-bottom: 12rem;
}
section h3:before {
	width: 170px;
	height: 27px;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	margin: auto;
	background-image: url('../img/h3.png');
}
ul {
	list-style-type: none;
	padding: 0;
}
.thanks_body {
	background-image: -webkit-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: -moz-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: -ms-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: linear-gradient(to bottom right, #ffb206, #6eb016);
	background-repeat: no-repeat;
	background-position-x: center;
	margin: 0;
	height: 100%;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
}
.thanks_body h4 {
	font-size: 36px;
	margin-top: 0;
}
.thanks_body p {
	font-size: 24px;
	margin-bottom: 0;
}
.thanks_page {
	display: table-cell;
	vertical-align: middle;
}
footer {
	padding-bottom: 20px;
}
footer p {
	color: #919191;
	font-size: 18px;
}
footer span {
	text-decoration: underline;
	color: #2897e5;
	display: block;
	font-size: 18px;
}
footer .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.footer_logo {
	max-width: 100%;
}
.made_by p {
	margin-bottom: 10px;
}
.copyright p {
	margin-top: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.main_btn {
	height: 55px;
	line-height: 55px;
	display: inline-block;
	text-align: center;
	width: 100%;
	max-width: 370px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	background-image: -webkit-linear-gradient(to right, #cb7211, #e69135);
	background-image: -moz-linear-gradient(to right, #cb7211, #e69135);
	background-image: -ms-linear-gradient(to right, #cb7211, #e69135);
	background-image: linear-gradient(to right, #cb7211, #e69135);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.main_btn:hover {
	color: #fff;
	background-image: -webkit-linear-gradient(to left, #cb7211, #e69135);
	background-image: -moz-linear-gradient(to left, #cb7211, #e69135);
	background-image: -ms-linear-gradient(to left, #cb7211, #e69135);
	background-image: linear-gradient(to left, #cb7211, #e69135);
}
.main_btn2 {
	background-image: -webkit-linear-gradient(to right, #d13013, #e94c30);
	background-image: -moz-linear-gradient(to right, #d13013, #e94c30);
	background-image: -ms-linear-gradient(to right, #d13013, #e94c30);
	background-image: linear-gradient(to right, #d13013, #e94c30);
}
.main_btn2:hover {
	background-image: -webkit-linear-gradient(to left, #d13013, #e94c30);
	background-image: -moz-linear-gradient(to left, #d13013, #e94c30);
	background-image: -ms-linear-gradient(to left, #d13013, #e94c30);
	background-image: linear-gradient(to left, #d13013, #e94c30);
}
.main_btn:focus {
	color: #fff;
}
.form_wrapper {
	margin: auto;
	position: relative;
	background-color: #fffdf4;
	width: 100%;
	max-width: 370px;
	padding: 4rem 2rem 5rem 5rem;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #c3957b;
}
.form_wrapper h6 {
	color: #627783;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.8rem;
	margin: 0;
}
.form_wrapper p {
	color: #787878;
}
label.error {
	color: red;
	font-size: 15px;
}
.form input::-webkit-input-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form input::-moz-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form input:-ms-input-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form input:-moz-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form textarea::-webkit-input-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form textarea::-moz-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form textarea:-ms-input-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form textarea:-moz-placeholder {
	font-size: 14px;
	color: #212121;
	font-style: italic;
}
.form input, .form textarea {
	width: 100%;
	max-width: 270px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: 8px;
	border: 1px solid #c3957b;
	text-indent: 30px;
	height: 60px;
	font-size: 18px;
}
.form textarea {
	padding-top: 20px;
	height: 120px;
	resize: none;
}
.form button {
	width: 100%;
	max-width: 270px;
	margin-top: 8px;
	height: 60px;
}
header {
	padding-top: 12px;
	position: relative;
	padding-bottom: 140px;
}
header:before {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 820px;
	background-image: url("../img/main_bg.jpg");
	background-position: center 20px;
	background-repeat: no-repeat;
}
header .main_btn {
	margin: 3rem 0;
}
header .main_btn2 {
	margin: 0;
}
header .top_head {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	height: 90px;
}
.menu {
	margin: 2.4rem 0 3rem;
}
.menu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}
.menu li {
	display: inline-block;
	margin-left: 5rem;
	color: #575f72;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.top_btn a {
	height: 60px;
	text-align: center;
	line-height: 60px;
	display: inline-block;
	width: 100%;
	max-width: 270px;
	color: #e69135;
	border: 1px solid #e69135;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .05em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.top_btn a:hover {
	background-color: #e69135;
	color: #fff;
}
.top_phone {
	text-align: right;
}
.lang ul li {
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #575f72;
	border: 1px solid #575f72;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 12px;
}
.lang ul li.active {
	color: #fff;
	background-color: #575f72;
}
.desc {
	font-size: 14px;
	line-height: 2.4rem;
}
.logo img {
	width: 100%;
	max-width: 170px;
}
h1{
	font-size: 4.5rem;
	color: #575f72;
	line-height: 5rem;
	font-weight: normal;
}
h2 {
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: #e58d32;
	font-weight: normal;
	margin-bottom: 3rem;
}
.trigger li {
	position: relative;
	font-size: 1.6rem;
	line-height: 2.8rem;
	color: #2f2f2f;
	margin-bottom: 3rem;
	padding-left: 3rem;
}
.trigger li:last-of-type {
	margin-bottom: 0;
}
.trigger li:before {
	width: 14px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	background-image: url('../img/trigger.png');
}
.about_item {
	position: relative;
}
.about_text {
	position: absolute;
	max-width: 50%;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	padding: 5rem 1rem 5rem 4rem;
}
.about_item:nth-of-type(even) .about_text {
	right: auto;
	left: 100px;
}
.product:before {
	content: "";
	position: absolute;
	top: -250px;
	left: 0;
	width: 100%;
	height: 630px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url('../img/product_bg.png');
	z-index: 2;
}
#product1FormWrapper,
#product2FormWrapper,
#product3FormWrapper,
#product4FormWrapper,
#product5FormWrapper,
#product6FormWrapper {
	padding-right: 5rem;
}
.product h4 {
	text-align: center;
	font-weight: bold;
	font-size: 2.2rem;
}
.product span {
	font-style: italic;
	font-size: 1.6rem;
	line-height: 2.6rem;
	display: block;
	text-align: center;
	margin: 3rem 0 1rem;
}
.product .popup {
	margin-left: auto;
	margin-right: auto;
	max-width: 270px;
	display: block;
}
.product .row {
	margin-bottom: 8rem;
}
.product .row:last-of-type {
	margin-bottom: 0;
}
.banner:before {
	position: absolute;
	background-image: url('../img/banner_bg.jpg');
	content: "";
	width: 100%;
	height: 392px;
	background-position: center top;
	top: 62px;
	left: 0;
}
.banner h3 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: normal;
	margin-bottom: 4rem;
}
.banner h3:before {
	display: none;
}
.banner_form {
	padding: 5rem 0 6.5rem;
	border: 1px solid #c3957b;
	position: relative;
	margin: 0 15px;
}
.banner form:after {
	display: table;
	content: "";
	clear: both;
}
.banner input, .banner button {
	margin-top: 0;
}
.make img {
	width: 100%;
	max-width: 570px;
}
.make h4 {
	font-size: 2.3rem;
	margin-bottom: 2rem;
}
.make .main_btn {
	position: relative;
	z-index: 20;
}
.make p {
	margin-bottom: 4rem;
}
.make .make_text {
	padding: 5rem 3rem 6.5rem 0;
	position: relative;
	height: 440px;
}
.make .make_text:before {
	content: "";
	border: 5px solid #575f72;
	position: absolute;
	top: 0;
	height: 100%;
	width: 120%;
	left: -20%;
}
.make .row:nth-of-type(even) .make_text:before {
	right: -20%;
	left: auto;
}
.make .row:nth-of-type(even) .make_text {
	padding: 5rem 0 6.5rem 3rem;
}
.make .make_pict {
	-webkit-transform: translateY(5rem);
	-moz-transform: translateY(5rem);
	-ms-transform: translateY(5rem);
	transform: translateY(5rem);
	position: relative;
	z-index: 3;
}
.make .row {
	margin-bottom: 10rem;
}
.make .row:last-of-type {
	margin-bottom: 0;
}
.open_form h3 {
	font-size: 3rem;
	text-align: left;
	margin-top: 3rem;
	margin-bottom: 16rem;
}
.open_form .form_wrapper:before {
	content: "";
	position: absolute;
	right: -17px;
	top: -20px;
	background-image: url('../img/ring.png');
	width: 97px;
	height: 89px;
}
.open_form h3 span {
	color: #c3957b;
}
.open_form h3:before {
	display: none;
}
.open_form img {
	position: absolute;
	left: 32%;
	z-index: 1;
}
.open_form_left {
	z-index: 2;
}
.open_form .open_form_left p {
	font-size: 3rem;
	line-height: 4rem;
}
.open_form .open_form_left p span {
	font-weight: bold;
	color: #58a493;
}
.open_form .open_form_left p.counter_head {
	font-size: 1.6rem;
}
.photo .slider_wrapper .w2 {
	max-width: 970px;
	margin: 0 auto;
}
/*.photo img {
	position: absolute;
}*/
.photo_prev {
	bottom: -60px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.photo_next {
	bottom: -60px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.photo .photo_1 {
	right: 0;
	top: 0;
}
.photo .photo_2 {
	left: 400px;
	top: 0;
}
.photo .photo_3 {
	right: 0;
	bottom: 0;
}
.photo .photo_4 {
	left: 400px;
	bottom: 0;
}

.photo .photo_5 {
	left: 0;
	top: 0;
}
.rev_pict {
	width: 25%;
	padding-right: 30px;
	float: left;
}
.rev_pict img {
	max-width: 100%;
	margin-bottom: 1.5rem;
}
.rev_text {
	width: 75%;
	float: left;
	border: 4px solid #575f72;
	padding: 5rem 0;
	position: relative;
}
.rev_text:before {
	content: "«";
	position: absolute;
	line-height: 5rem;
	top: 5rem;
	left: 3rem;
	font-size: 12rem;
	font-weight: bold;
	color: #c3957b;
}
.rev_text:after {
	content: "»";
	position: absolute;
	line-height: 5rem;
	bottom: 5rem;
	right: 3rem;
	font-size: 12rem;
	font-weight: bold;
	color: #c3957b;
}
.rev_text p {
	max-width: 570px;
	margin: 0 auto;
	position: relative;
}
.rev_text p:before {
	position: absolute;
	top: -5rem;
	left: -20rem;
	content: "";
	background-image: url('../img/rev_bg.png');
	width: 962px;
	height: 337px;
	z-index: -1;
}
.rev_prev {
	bottom: -70px;
	left: 35%;
}
.rev_next {
	bottom: -70px;
	right: 35%;
}
.dot {
	width: 12px;
	height: 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #c4977e;
}
.slick-active .dot {
	background-color: #c4977e;
}
.cert img {
	max-width: 270px;
	margin: 0;
}
.cert .slider_wrapper {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}
.cert .prev {
	left: -100px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.cert .next {
	right: -100px;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*.cert .slick-current {
	transform: scale(1.5);
}*/
.step p {
	margin: 3rem 0;
}
.step:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1142px;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('../img/step_bg.png');
	left: 0;
	top: -120px;
}
.contact {
	padding-bottom: 20px;
}
.contact img {
	max-width: 100%;
}
.contact h3:before {
	display: none;
}
.contact h3 {
	text-align: left;
}
.contact p {
	margin-bottom: 3rem;
}
.contact p:last-of-type {
	margin-top: 7rem;
}